<div class="mb-2">
<!--letakkan kode ads di bawah baris ini-->
    <!--ads/responsive.txt-->
    <script type="text/javascript">
        atOptions = {
            'key' : '4e5fab29cf3481694311fe8826aad213',
            'format' : 'iframe',
            'height' : 250,
            'width' : 300,
            'params' : {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplaycontent.com/4e5fab29cf3481694311fe8826aad213/invoke.js"></scr' + 'ipt>');
    </script>
</div>